<div class="col-md-offset-1 col-md-5 white-background">
  <br>
  <h6><%= link_to "Back to Product", edit_product_path(@product) %></h6>
  <hr>
  <div>
    <h4>Current Secondary Photos:</h4>
    <ul class="list-inline">
      <%= render @images %>
    </ul>
  </div>
    <h4>Upload another photo:</h4>
    <%= render 'form' %>
  </div>
</div>
