<html>
    <head>
      <!-- RESPONSIVE -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
      <!-- CAROUSEL -->
      <script type="text/javascript">
        $(function(){
          $('.carousel').carousel();
        });
      </script>

      <script type='text/javascript' src='bl-script.js'></script>
    </head>
    <body>
<!-- <div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="centerize" style="background-size:100%; width:100%; position:relative; background-color:#505050; padding:0px;">
        <img src="https://s3.amazonaws.com/beelineco/nightsky_1250.jpg"/>
        <div id="hero_image" style="background-image: url(https://s3.amazonaws.com/beelineco/main+images/1_nightsky.jpg);" class="left">
        </div>
      </div>
    </div>
  </div>
</div> -->
      
    <!--  Carousel - consult the Twitter Bootstrap docs at
          http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="homeImages">
    <div class="carousel slide" data-pause="remove"> 
        <div class="carousel-inner stretch">
          <div class="item active" > 

            <img id="heroshot" style="position:absolute; opacity:0.0;" src="" alt=""/>

            <div class="hero-product h-font" style="display:none"></div>
            <div class="hero-brand subh-font" style="display:none"></div> 


            <img src="https://s3.amazonaws.com/beelineco/main+images/1_nightsky.jpg"  alt="" />
            

            <div class="carousel-caption" id="homecaption">
              <small class="p-font" style="color:white;font-size:.5em; opacity:.4;">Photo Credit: JARED CHAMBERS
              <a style="color:white;"href="http://jaredchambers.com" target="blank">(jaredchambers.com)</a></small>
            </div> 


          </div>
          <!-- <div class="item">
            <img src="https://s3.amazonaws.com/beelineco/main+images/2_watches.jpg" alt="" />
            <div class="carousel-caption">
              <p>Poler Stuff</p>
            </div>
          </div>
          <div class="item">
            <img src="https://s3.amazonaws.com/beelineco/main+images/3_motorcycle.jpg" alt="" />
         </div>
          <div class="item">
            <img src="https://s3.amazonaws.com/beelineco/main+images/4_basketball.jpg" alt="" />
          </div> -->
        </div> 
    </div>
</div>
      <div class="container-fluid p-font" style="position:absolute; top:65px; right: 10px; font-weight:400;">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-success") %>
      <% end %>
      </div>
   </body>

   
 </html> 	
