<% if user_signed_in? %>
  <p><i>Welcome back, you're looking great.</i>
  </p>
<% else %>
    <div class="center hero-unit">
    <h1>Welcome to Beeline Co.</h1>

    <img src= "http://www.selectism.com/news/wp-content/uploads/2011/06/poler-one-man-tent-1.jpg" />

    <p>
      We're excited to show you what we've built.
    </p>
     
    <p>
      <%= link_to "Join us.", new_user_registration_path, class: "btn btn-primary btn-large" %>
      </P>
  </div>
<% end %>
  	
