
<div "aboutmedia">
  <img id="aboutimage" src="http://www.fairfaxbynight.com/wp-content/uploads/Taylor-Stitch.png" />

  <div id="abouttext" class="skinny-big">
  <span>Beeline Co. is a community of brands, craftsman, and makers who will be teaming up with us to bring amazing new product straight to you -- the fans.</span>
   <br>
   <br>
    <span><i>If you're interested in the family we're building -- sign up above.</i></span>
   <br>
   <br>
    <span><b>We will launch in the Spring of 2013.</b></span>
  </div>
</div>

<!-- <div class="row-fluid">
  <div class="span6">
  	<img style="background-size:100%;" src="http://www.fairfaxbynight.com/wp-content/uploads/Taylor-Stitch.png" />
  </div>
  <div class="span6" style="color:#505050;">
  	<br>
  	<br>
  	<br>
	<h2>Who we are..</h2>
	<hr>
	<span style="position:absolute;">Beeliner Co. is a community of brands, craftsman, and makers who will be teaming up with us to bring amazing new product straight to you -- the fans.
 
	<p><i>If you're interested in up-to-date news on the family we're building -- feel free to sign up above.</i></p>
 
	<p><b>We will launch in the Spring of 2013.</b></p></span>

  </div>
</div> -->