<div class="col-md-offset-1 col-md-8">
  <div class="row" id="aboutus">
    <div class="col-md-6">
      <div class="black-background">
        <h6 style="padding-top:5px;font-size:1.3em !important;margin-bottom:-1px;">Who are we?</h6>
        <hr style="margin:2px;opacity:.4;">
        <br>
        <p>Farallon Co. is a community of brands and makers who are worth their salt. A majority of them will be using our platform as proving grounds for their newest projects or collaborations -- and thanks to their fans & backers, many of these 'back of napkin' projects will be produced. </p>
        <br>
        <p><i>THE CONCEPT:</i> This site is devoted to showcasing top-tier brands, funding developmental projects, and encouraging feedback from the community. We would love for you to not only support these brands financially, but suggest project ideas, opinions, or collaborations at will. Don't worry, there is <a data-toggle="modal" href="#submit-modal" style="color:white;font-weight:600;"><i>something in it for you.</i></a></p>
        <br>
        <p><i>THE BRANDS:</i> We find & build relationships with top-notch brands from all over the globe and will never feature a project that we wouldn't back ourselves. Most of the brands we will feature build their product in the U.S.A., but will feature any brand that is built with integrity - regardless of its origin.</p>
        <br>
        <p><i>THE COMMUNITY:</i> The support & momentum of the community is what makes this tick - so feedback is always appreciated. To keep you in the loop, we will deliver weekly updates about new brands, products, and engaging content. Don't worry, we will never abuse your inbox. </p>
        <br>
        <h6 class="centerize" style="font-size:1.3em !important; padding-top:20px">Join the company.</h6>

        <div class="centerize" style="padding-top:20px">
          <span class="creds"> Proudly <%= image_tag "CA.png", style: "width:35px;"%>&nbsp;made</span> 
        </div>
        <br>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="frame">
            <%= image_tag "farallon-seals.jpg", id: "farallon"%>
            <h5 class="photo-credit"><a style="color:white; margin-right:20px !important;"href="http://jayzombie.com"target="blank">Photo Credit: jayzombie</a></h5>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="black-background" id="farallon-description">
            <h6 style="margin-bottom:-1px;">Farallon Islands:</h6>
            <hr style="margin:2px;opacity:.4;">
            <p> A group of islands and sea stacks in the Gulf of the Farallones off the coast of San Francisco, California (Our HQ). It's untamed & vast ecosystem is an inspiration behind the community we are building. If you have more time, watch this clip about their storied history (first couple miniutes to get the idea):</a></p>
            <iframe width="100%" height="200" src="//www.youtube.com/embed/N_tDev5hCwk?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <%= image_tag "farallon-2.jpg", class: "img-responsive", style:"opacity:.9;padding-top:20px"%>

      <h5 class="photo-credit"><a style="color:white; margin-right:20px !important;"href="http://grantbowen.com"target="blank">Photo Credit: Grant Bowen</a></h5>
      <!-- <div class="frame">
         <#%= image_tag "farallon-2.jpg", style: "width:100%;opacity:.8;margin: -300px 0px 0px 0px;"%>
      </div> -->
      <%#= image_tag "CA-Background.jpg", style: "width:100%;"%>
      
    </div>
  </div>
</div>

