<div class="col-md-10">
  <div class="row" id="aboutus">
    <div class="col-md-6">
      <div class="aboutus-background">
        <h3 style="padding-top:20px;">Who are we?</h3>
        <p>Farallon Co. is a community of brands, craftsman, and makers who will be using our platform as proving grounds for their newest endeavors -- and thanks to their fans & backers, many of these 'back of napkin' creations will be produced.</p>
        <br>
        <p>You're right, we don't look like every other web shop out there -- we built this site with a focus on the quality in details of our brand partners' products, to give you the opportunity to connect to each brand, and to have your voice heard (backing & discussing)</p>
        <br>
        <p>Every brand we partner with is vetted by the upmost quality in build and materials. Also, every product is an original idea by our brand partners -- and we give you the opportunity to influence the product direction for products to come</p>

        <h5>Join the company.</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="frame">
        <%= image_tag "farallon.jpg", id: "farallon"%>
      </div>
      <div class="aboutus-background">
        <h5 style="padding-top:10px">Farallon Islands:</h5>
        <hr style="margin:2px;margin-top:-5px;opacity:.4;">
        <p> A group of desolate islands and sea stacks in the Gulf of the Farallones off the coast of San Francisco, California, USA (Our HQ). With a <a href="http://openwaterpedia.com/index.php?title=Farallon_Islands" target="blank"><i>storied history</i></a> to match. Its untamed & vast ecosystem is an inspiration behind the community we are building.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="frame">
         <%= image_tag "CA-Background.jpg", style: "width:100%;opacity:.8;"%>
      </div>
    </div>
  </div>
</div>