<div class="row-fluid">
  <div class="span6">
  	<img src="http://www.fairfaxbynight.com/wp-content/uploads/Taylor-Stitch.png" />
  </div>
  <div class="span6" style="color:#505050;">
  	<br>
  	<br>
  	<br>
	<h2>Who we are..</h2>
	<hr>
	Beeliner Co. is a community of brands, craftsman, and makers who will be teaming up with us to bring amazing new product straight to you -- the fans.
 
	<p>If you're interested in up-to-date news on the family we're building -- feel free to sign up above.</p
 
	<p><b><i>We will launch in the Spring of 2013.
	</i></b></p>

	<h6><i>~AB
	</i></h6>

  </div>
</div>