<div class="col-md-offset-1 col-md-8">
  <div class="row" id="aboutus">
    <div class="col-md-6">
      <div class="black-background">
        <h5 style="padding-top:5px;">Who are we?</h5>
        <p>Farallon Co. is a community of brands, craftsman, and makers who are worth their salt. Most of them will be using our platform as proving grounds for their newest endeavors -- and thanks to their fans & backers, many of these 'back of napkin' creations will be produced.</p>
        <br>
        <p><i>Design:</i> This site is devoted to the brands and products that will be showcased within it and have built the experience to reflect this -- large imagery, simple design, & ease of sharing.</p>
        <br>
        <p><i>Brands:</i> Every brand we partner with is vetted for the utmost quality in build and materials. Every product is an original idea by our brand partners - and give you the opportunity to influence future product direction through your financial support, social sharing, & submitted ideas.</p>

        <h6 class="centerize" style="font-size:1.3em !important; padding-top:20px">Join the company.</h6>

        <div class="centerize" style="padding-top:20px">
          <span class="creds"> Proudly <%= image_tag "CA.png", style: "width:35px;"%>&nbsp;made</span> 
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="frame">
            <%= image_tag "farallon-seals.jpg", id: "farallon"%>
            <h5 class="photo-credit"><a style="color:white; margin-right:20px !important;"href="http://jayzombie.com"target="blank">Photo Credit: jayzombie</a></h5>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="black-background" id="farallon-description">
            <h5>Farallon Islands:</h5>
            <hr style="margin:2px;opacity:.4;">
            <p> A group of desolate islands and sea stacks in the Gulf of the Farallones off the coast of San Francisco, California, USA (Our HQ). With a <a href="http://openwaterpedia.com/index.php?title=Farallon_Islands" target="blank"><i>storied history</i></a> to match. It's untamed & vast ecosystem is an inspiration behind the community we are building.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <%= image_tag "farallon-2.jpg", class: "img-responsive", style:"opacity:.9;padding-top:20px"%>

      <h5 class="photo-credit"><a style="color:white; margin-right:20px !important;"href="http://grantbowen.com"target="blank">Photo Credit: Grant Bowen</a></h5>
      <!-- <div class="frame">
         <#%= image_tag "farallon-2.jpg", style: "width:100%;opacity:.8;margin: -300px 0px 0px 0px;"%>
      </div> -->
      <%#= image_tag "CA-Background.jpg", style: "width:100%;"%>
      
    </div>
  </div>

  <%= image_tag "tumblr-background.jpg" %>
</div>

