<div class="row-fluid">
  <div class="span4">blah</div>
  <div class="span8">
	<h1>About</h1>
	<p>
			<%= link_to "Beeline Co.", "http://beelinerco.com" %> is a community of the best brands and newest products.
	</p>

  </div>
</div>