
<div class="col-md-offset-1 col-md-8 white-background" style="padding-top:20px;padding-bottom:20%">
	<h6 class="centerize" style="font-size:1.5em !important;">The Brand Family</h6>
	<hr class="black-hr">
	<br>
  		<%= render :partial=>'brands/brand', id: 'indiv-home-brand', :collection => @brands, :locals => {:size => 'col-md-2 col-xs-4'}  %>
</div>
