
<div class="col-md-offset-1 col-md-8 product-grid">
	<div class="row">
    <div class="col-md-12">
    	<a href="/home" class="backhome-btn" style="color:white; border-color:white;margin-left:20px;"><div class="glyphicon glyphicon-home" ></div></a>
			<h6 class="centerize" style="font-size:1.5em !important;color:white;">The Brand Family</h6>
			<hr style="width:60%;" class="centerize">
			<h6 class="centerize" style="color:white;pointer-events:none;font-size:.8em !important;margin-top:10px;">A-Z</h6>
			<hr class="centerize" style="color:white;width:40px;margin-top:0px;border-color:rgba(255,255,255,.2)">
			<br>
  		<%= render :partial=>'brands/brand', :collection => @brands, :locals => {:size => 'col-md-3 col-xs-6'}  %>
  	</div>
  </div>
</div>
