
<div class="col-md-offset-1 col-md-8 white-background grey-border">
	<div class="row">
    <div class="col-md-12">
    	<a href="/" class="backhome-btn" style="margin-left:20px;margin-top:-15px;"><div class="glyphicon glyphicon-home" ></div></a>
			<h6 class="centerize" style="font-size:1.5em !important;margin-top:20px">The Product Den</h6>
			<hr style="width:60%;" class="centerize">
			<br>

	<% @products.select { |p| p.active && p.existingline }.each do |product| %>
      <div class="col-md-3 col-xs-4">
        <%= link_to image_tag(product.primary_image), product.existingurl, target: "_blank", class: "thumbnail" %>
      </div>
    <% end %>

    <h5 class="centerize" style="text-decoration:none;"> <%= paginate @products %></h5>

  	</div>
  </div>
</div>
