
<div class="col-md-9">
	<div class="row">
    <div class="col-md-12">
    	<a href="/" class="backhome-btn" style="margin-left:20px;margin-top:-15px;"><div class="glyphicon glyphicon-home" ></div></a>
			<h6 class="centerize" style="font-size:1.5em !important;margin-top:20px">The Brand Family</h6>
			<h6 class="centerize" style="font-size:.55em !important;margin-top:5px"><a style="text-decoration:none;color:black;"href="/all_products">Go to Products</a></h6>
			<hr style="width:60%;" class="centerize">
			<h6 class="centerize" style="color:black;pointer-events:none;font-size:.8em !important;margin-top:10px;">A-Z</h6>
			<hr class="centerize" style="width:40px;margin-top:0px;border-color:rgba(0,0,0,.2)">
			<br>
  		<%= render :partial=>'brands/brand', :collection => @brands, :locals => {:size => 'col-md-3 col-xs-6'}  %>
  	</div>
  </div>
</div>
