<!DOCTYPE html>
<html>
<head>
    <title>Business Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/lib/animate.css" media="screen, projection">
    <link rel="stylesheet" href="css/coming-soon.css" type="text/css" media="screen" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Sign In Option 1 -->
    <div id="coming_soon">
        <div class="head">
            <div class="container">
                <div class="span6 text">
                    <h4>We are launching very soon</h4>
                    <p>
                        We are currently working on an awesome new site. <span>STAY TUNED!</span>
                        <br />
                        Please don´t  forget to check out our tweets and subscribe to be notified.</p>
                </div>

                <div class="span6 count">
                    <div class="box last">
                        <div class="circle">
                            <span>22</span>
                        </div>
                        <p>Seconds</p>
                    </div>
                    <div class="box">
                        <div class="circle">
                            <span>34</span>
                        </div>
                        <p>Minutes</p>
                    </div>
                    <div class="box">
                        <div class="circle">
                            <span>75</span>
                        </div>
                        <p>Hours</p>
                    </div>
                    <div class="box">
                        <div class="circle">
                            <span>165</span>
                        </div>
                        <p>Days</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="social">
            <div class="container">
                    <p>Follow us</p>
                    <a href="#" class="facebook">
                        <span class="icons ico1"></span>
                        <span class="iconsh ico1h"></span>
                    </a>
                    <a href="#" class="twitter">
                        <span class="icons ico2"></span>
                        <span class="iconsh ico2h"></span>
                    </a>
                    <a href="#" class="gplus">
                        <span class="icons ico3"></span>
                        <span class="iconsh ico3h"></span>
                    </a>
                    <a href="#" class="flickr">
                        <span class="icons ico4"></span>
                        <span class="iconsh ico4h"></span>
                    </a>
                    <a href="#" class="pinterest">
                        <span class="icons ico5"></span>
                        <span class="iconsh ico5h"></span>
                    </a>
                    <a href="#" class="dribble">
                        <span class="icons ico6"></span>
                        <span class="iconsh ico6h"></span>
                    </a>
                    <a href="#" class="behance">
                        <span class="icons ico7"></span>
                        <span class="iconsh ico7h"></span>
                    </a>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>