<h1>Welcome to Beeline Co.</h1>

<img src="http://static.wix.com/media/7ee387_f31ae2466e966e6cc57ef905575a2be6.png_srz_335_165_75_22_0.50_1.20_0.00_png_srz" />

<p>
	We're excited to show you what we've built.
	<%= link_to "Go>", "http://beelinerco.com" %>
</p>
  


<p>
	<%= link_to "Sign Up Now!", "#" %>
</P>