<div class="col-md-10">
  <div class="row" >
    <div style="position:relative;">
      <div class="hidden-xs">
        <%= image_tag("s&s.jpg",width:"100%",id:"shit") %>
      </div>

      <div style="position:absolute;color:white;top:0;background-color:rgba(0, 0, 0,.5);padding:10px;width:100%;height:100%" id="crap2">
        <%= image_tag("FarallonCo-LongForm-T.png",width:"600px",class:"hidden-xs hidden-sm centerize img-responsive" ) %>
        <h2 style="margin-top:0px;text-align:center;font-size:1.9em;"id="title"><i>Supporting the best brands and their stories</i></h2>
        <h3 id="click" class="centerize hidden-xs hidden-sm"style="color:#5dc65e;text-align:center;;border:5px solid #3aa63b; border-radius:1px;width:300px;padding:8px;margin-top:75px;text-decoration:none !important;">Show me the goods</h3>
      </div>
    </div>
  </div>

  <div class="row" id="home2grid" style="padding-bottom:200px;">
    <div style="position:relative;">
      <div class="links centerize" style="position:relative;font-size:1.2em !important;background-color:white;border-bottom:1px solid rgba(0,0,0,.1); width:100%;padding-top:10px"id="home-links">
          <h6 id="product-sort" style="color:black;">PROJECTS</h6><span style="opacity:.2;color:black;">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span><h6 style="color:black"id="brand-sort">BRANDS</h6>
          <a id="boob" class="backhome-btn hidden-xs hidden-sm">+</a>
      </div>
      <div style="position:relative;margin-top:10px;">
        <div id="home-products">
          <%= render :partial=>'products/product', id: 'indiv-home-prod', :collection => @products, :locals => {:size => 'col-md-4 col-xs-6'}  %>
        </div>
        <div id="home-brands" style="display:none;">
          <h6 class="centerize" style="color:black;pointer-events:none;font-size:.7em !important;padding-bottom:5px;margin-top:-5px;">A-Z</h6>
          <hr class="centerize" style="width:40px;margin-top:-5px;margin-bottom:15px;border-color:rgba(0,0,0,.4)">
          <%= render :partial=>'brands/brand', id: 'indiv-home-brand', :collection => @brands, :locals => {:size => 'col-md-3 col-xs-6'}  %>
        </div>
      </div>
    </div>
  </div>
    <!-- <div id="motto" style="top:15% !important;z-index:95 !important;">
      <hr>
        <h3 style="font-size:2.5em;color:white;text-align:left;">
        TOP TIER BRANDS<br>
        FAN-BACKED DEVELOPMENT<br>
        JOIN THE COMPANY
        </h3>
      <hr>
    </div>
    <div style="position:fixed;margin-left:-15px;z-index:90">
      <div style="overflow:hidden;height:300px;">
        <%#= image_tag("saturdays2.jpg",width:"120%") %>
      </div>
      <div class="links centerize" style="position:fixed;z-index:95 !important;font-size:1.3em !important;background-color:white;border-bottom:1px solid rgba(0,0,0,.1); width:86%;padding:0"id="home-links">
        <h6 id="product-sort" style="color:black;">PROJECTS</h6><span style="opacity:.2;color:black;">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span><h6 style="color:black"id="brand-sort">BRANDS</h6>
      </div>
    </div>
    


    <%# @products.each do |product| %>
      <div class="p-hover mid-pic-frame hidden" style="z-index:100 !important;height:200px;position:fixed;" data-product-id="<%#= product.id %>">
        <div id="p-hover-details">
          <h3 style="margin-bottom:1px;padding-top:5px"><%#= product.name %></h3>
          <hr style="margin:0px;margin-left:-10px;opacity:.6;border-color:rgba(0,0,0,.3)">
          <h6 style="margin-top:5px;font-weight:400"><%#= product.brand.name %></h6>
          <h6 style="font-size:.65em !important;letter-spacing:1px !important;margin-top:-10px;font-weight:400;padding-bottom:5px;"><%#= product.brand.location%></h6>
          <h6 class="centerize" style="text-transform:uppercase;">
            <span style="font-size:1.45em;">$<%#= product.price %></span>&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-signal"></span>&nbsp;
            <%#= product.percentage %>% Funded&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-time"></span>&nbsp;
            <%#= time_ago_in_words(product.end_date).html_safe unless product.end_date.blank? %> LEFT
          </h6>
        </div>
      </div>
    <%# end %>
    
  </div>


  <div class="row" style="margin-top:38%">
    <div id="home-products">
      <%#= render :partial=>'products/product', id: 'indiv-home-prod', :collection => @products, :locals => {:size => 'col-md-3 col-xs-6'}  %>
    </div>
    <div id="home-brands" style="display:none;">
      <h6 class="centerize" style="color:black;pointer-events:none;font-size:.7em !important;padding-bottom:5px;margin-top:-5px;">A-Z</h6>
      <hr class="centerize" style="width:40px;margin-top:-5px;margin-bottom:15px;border-color:rgba(0,0,0,.4)">
      <%#= render :partial=>'brands/brand', id: 'indiv-home-brand', :collection => @brands, :locals => {:size => 'col-md-3 col-xs-6'}  %>
    </div>
  </div> -->


</div>


