<div class="col-md-5">
  <div class="row">
    <div class="col-md-12">
      <div class="p-hover mid-pic-frame">

        <div id="p-hover-details">
          <h3>Mission Workshop</h3>
          <h5>Sanction Backpack AP</h5>
          <hr style="margin-top:5px">
          <p id="p-hover-status" >
            <span class="glyphicon glyphicon-signal"></span>  90% Funded&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> 4 Weeks left
          </p>
        </div>

        <%= image_tag("background-road.jpg") %>
      </div>
      <div id="motto">
        <hr>
          <h3 style="font-size:2.5em;">
          TOP TIER BRANDS<br>
          FAN-BACKED PRODUCT<br>
          JOIN THE COMPANY
          </h3>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="col-md-5 product-grid">
    <div class="col-md-12">
      <div id="links" class="centerize" >
        <h6 id="product-sort">PRODUCTS</h6>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;<h6 id="brand-sort">BRANDS</h6>
    </div>

  <div class="row">
    <div id="home-products">
      <%= render :partial=>'products/product', :collection => @products, :locals => {:size => 'col-md-6 col-xs-6'}  %>
    </div>
    <div id="home-brands" style="display:none;">
      <%= render :partial=>'brands/brand', :collection => @brands, :locals => {:size => 'col-md-6 col-xs-6'}  %>
    </div>
  </div>
</div>
