
<div class="col-md-offset-1 col-md-6 white-background" >
  <h2>JOBS @ <%= image_tag("FarallonCo-Grey.png", width: "150", id:'jobs-logo') %></h2>
  <hr style="border-color: rgba(0,0,0,.3);margin-top:2px">
  
  <h6>Come work, play, most likely drink beer (If that's your thing) - with our team in SF, CA.</h6>
  <%= image_tag("sf.jpg", class: "img-responsive centerize") %>
  <br>
  <p>We are an aspiring technology/brand startup that is growing efficiently and want to meet great people (ideally in the areas below - but certainly not limited to). <br><br>If you like what we're up to & can add your enthusiasm/wisdom... let's talk.</p>
  <br>
  <div id="lots-o-blocks">
    <a href="mailto:support@farallon.co?Subject=Farallon%20Jobs%20-%20Brands">
      <div class="blocks centerize" id="upper-left">
        <h6>Brands</h6>
      </div>
    </a>

    <a href="mailto:support@farallon.co?Subject=Farallon%20Jobs%20-%20Engineering">
      <div class="blocks centerize" id="upper-right">
        <h6>Engineering</h6>
      </div>
    </a>

    <a href="mailto:support@farallon.co?Subject=Farallon%20Jobs%20-%20Design">
      <div class="blocks centerize" id="lower-left">
        <h6>Design</h6>
      </div>
    </a>

    <a href="mailto:support@farallon.co?Subject=Farallon%20Jobs%20-%20Operations">
      <div class="blocks centerize" id="lower-right">
        <h6>Operations</h6>
      </div>
    </a>
  </div>

</div>
