<br>
<br>
<h3 class="h-font">Privacy Policy</h3>
We will not share your personal information (name, email, address, phone) with anyone for any reason unless compelled to do so by law. Your information is only used to process your order and communicate with you.

<h3 class="h-font">Security</h3>
We have partnered with Celery, a secure plug-in for authorizing pre-payments and shipping information, using encrypted transactions for all your credit card and personal information. This prevents outsiders from obtaining personal data or credit card information as it is sent over the internet.

<h3 class="h-font">Emails</h3>
Our order processing software automatically sends out an order confirmation email when an order is received. A shipping confirmation email will be sent to you when your order has been shipped.

These emails are automatic and are sent by our server software. If you have spam blocking software, you may not be able to receive the emails. If you do not receive an order confirmation email or a ship confirmation email, you can check the status of your order by emailing support@thebeeline.co.

We will not share you email address with third parties unless compelled to do so by law. If you wish to receive our weekly email newsletters which include special offers and information about new products, you can join our email list. You opt to join this list when you create an account in our system, but every email we send includes a 'one click unsubscribe' link so that you can opt-out of all future emails simply and easily.

<h3 class="h-font">Legal Notice</h3>
Beeline Company accepts no responsibility for the proper use of the products purchased and makes no warranty, either expressed or implied, as to the fitness or applicability of the products we sell for any particular use.