<div class="col-md-10">
  <div class="row" >
	<iframe class="centerize" style="border:none;" src="https://mapsengine.google.com/map/u/0/embed?mid=zlu0XVw-ZNj0.kYXmFw8XXbQM" width="100%" height="600" ></iframe>
	</div>
</div>