<div class="col-md-10">
  <div class="row" >
  	<iframe style="border:none;padding-top:20px" src="https://mapsengine.google.com/map/u/0/embed?mid=zlu0XVw-ZNj0.k_z_0RMbLBew" width="98%" height="500"></iframe>
	
	</div>
	<h3>Bootstrapper's Guide to San Francisco</h3>
  	<p>We are just normal shmucks, rating establishments based on their ability to provide the necessities to operate a business out of: coffee, drinks, internet, restrooms & good people.</p>
  <!-- 	<ul class="list-inline">
  		<li><h4>Quality Categories:</h4></li>
  		<li><h6>Coffee /</h6></li>
  		<li><h6>Staff /</h6></li>
  		<li><h6>Workspace /</h6></li>
  		<li><h6>Facilities</h6></li>
  	</ul> -->
</div>