<div class="col-md-10">
  <div class="row" >
  	<h3>Bootstrapper's Guide to San Franciscan Coffee Shops</h3>
  	<p>We are just normal shmucks, rating coffee shops based on their ability to provide the necessities to operate a business out of.</p>
  	<ul class="list-inline">
  		<li><h4>Quality Categories:</h4></li>
  		<li><h6>Coffee /</h6></li>
  		<li><h6>Staff /</h6></li>
  		<li><h6>Workspace /</h6></li>
  		<li><h6>Facilities</h6></li>
  	</ul>
	<iframe class="centerize" style="border:none;" src="https://mapsengine.google.com/map/u/0/embed?mid=zlu0XVw-ZNj0.kYXmFw8XXbQM" width="100%" height="500" ></iframe>
	</div>
</div>