
<div class="col-md-offset-1 col-md-7" style="padding:50px;padding-top:20px;">
  <h2><%= image_tag("farallon_round.png", width: "50") %> TEAM </h2>
  <hr style="border-color: rgba(0,0,0,.3);margin-top:2px">
  
  <h6>Come work, play, most likely drink beer (If that's your thing) - with our team in SF, CA.</h6>
  <%= image_tag("sf.jpg", class: "img-responsive centerize") %>
  <br>
  <p>We are an aspiring technology/brand startup that is growing it's team slowly and want to meet great people. <br><br>If you like what we're up to & can add your enthusiasm/wisdom... let's talk.</p>
  <br>
  <div id="lots-o-blocks">
    <a href="mailto:jobs@farallon.co?Subject=Farallon%20Jobs%20-%20Brands">
      <div class="blocks centerize" id="upper-left">
        <h6>Brands</h6>
        <p style="font-size:.5em">Have a few brand friends in mind?</p>
      </div>
    </a>

    <a href="mailto:jobs@farallon.co?Subject=Farallon%20Jobs%20-%20Engineering">
      <div class="blocks centerize" id="upper-right">
        <h6>Engineering</h6>
        <p style="font-size:.5em">Ruby on Rails</p>
      </div>
    </a>

    <a href="mailto:jobs@farallon.co?Subject=Farallon%20Jobs%20-%20Design">
      <div class="blocks centerize" id="lower-left">
        <h6>Design</h6>
        <p style="font-size:.5em">How can we simply further?</p>
      </div>
    </a>

    <a href="mailto:jobs@farallon.co?Subject=Farallon%20Jobs%20-%20Operations">
      <div class="blocks centerize" id="lower-right">
        <h6>Operations</h6>
        <p style="font-size:.5em">Delivering high quality service<br>takes a well-oiled machine</p>
      </div>
    </a>
  </div>
  <br>

</div>
