
<div class="col-md-offset-1 col-md-8 white-background" >
  <h2>Terms</h2>
  <hr style="border-color: rgba(0,0,0,.3);margin-top:2px">
  <h3>Payment Processing</h3>
    <p>We have partnered with Celery, a secure plug-in for authorizing pre-payments and shipping information, using encrypted transactions for all your credit card and personal information. This prevents outsiders from obtaining personal data or credit card information as it is sent over the internet.</p>
    <br>
  <h3>Emails</h3>
  <p>Our order processing software automatically sends out an order confirmation email when an order is received. A shipping confirmation email will be sent to you when your order has been shipped.</p>
  <br>
  <p>These emails are automatic and are sent by our server software. If you have spam blocking software, you may not be able to receive the emails. If you do not receive an order confirmation email or a ship confirmation email, you can check the status of your order by emailing support@farallon.co.</p>
  <br>
  <p>If you wish to receive our weekly email newsletters which include special offers and information about new products, you can join our email list. You opt to join this list when you create an account in our system, but every email we send includes a 'one click unsubscribe' link so that you can opt-out of all future emails simply and easily. We will not share you email address with third parties unless compelled to do so by law.</p>
  <br>
  <h3>Legal Notice</h3>
  <p>Farallon Company accepts no responsibility for the proper use of the products purchased and makes no warranty, either expressed or implied, as to the fitness or applicability of the products we sell for any particular use.</p>

  <h2>Privacy & Security</h2>
  <hr style="border-color: rgba(0,0,0,.3);margin-top:2px">

  <h5>What information do we collect?</h5>
    <p>We collect information from you when you register on our site, place an order or subscribe to our newsletter. When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or credit card information. You may, however, visit our site anonymously.</p>
    <br>
  <h5>Any of the information we collect from you may be used in one of the following ways:</h5>
  <ul>
    <li><h6>To personalize your experience</li>
      <p>Your information helps us to better respond to your individual needs</p>
    <li><h6>To improve our website</li>
      <p>We continually strive to improve our website offerings based on the information and feedback we receive from you</p>
    <li><h6>To improve customer service</li>
      <p>Your information helps us to more effectively respond to your customer service requests and support needs.</p>
    <li><h6>To process transactions</li>
      <p>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</p>
    <li><h6>To administer a contest, promotion, survey or other site feature</li>
    <li><h6>To send periodic emails</li>
      <p>The email address you provide for order processing or if you sign up with us, will be used to send you information and updates pertaining to your order - you will also recieve updates on future product releases, promotions & collaborations until you decide to unsubscribe. Note: If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</p>
  </ul>
</div>
