
<div class="col-md-offset-1 col-md-8 white-background" style="padding:50px;padding-top:0;">
  <h2>Terms</h2>
  <hr style="border-color: rgba(0,0,0,.3);margin-top:2px">
  <h6>Payment Processing</h6>
    <p>All information you give us is stored & encrypted within Stripe - until it is time to charge for a successful campaign.</p>
    <br>
    <p>All campaign payments are processed using 256-bit SSL encryption and our ecommerce platform is built on the premier payments platform, <a href="https://www.stripe.com/" target="blank">Stripe</a>. Stripe is certified to <a href="http://www.visa.com/splisting/searchGrsp.do?companyNameCriteria=stripe" target="blank">PCI Service Provider Level 1</a>. This is the most stringent level of certification available.</p>
    <br>
  <h6>Emails</h6>
  <p>Our order processing software automatically sends out an order confirmation email when an order is received. A shipping confirmation email will be sent to you when your order has been shipped.</p>
  <br>
  <p>These emails are automatic and are sent by our server software. If you have spam blocking software, you may not be able to receive the emails. If you do not receive an order confirmation email or a ship confirmation email, you can check the status of your order by emailing support@farallon.co.</p>
  <br>
  <p>If you wish to receive our weekly email newsletters which include special offers and information about new products, you can join our email list. You opt to join this list when you create an account in our system, but every email we send includes a 'one click unsubscribe' link so that you can opt-out of all future emails simply and easily. We will not share you email address with third parties unless compelled to do so by law.</p>
  <br>
  <h6>Legal Notice</h6>
  <p>Farallon Company accepts no responsibility for the proper use of the products purchased and makes no warranty, either expressed or implied, as to the fitness or applicability of the products we sell for any particular use.</p>

  <h2>Privacy & Security</h2>
  <hr style="border-color: rgba(0,0,0,.3);margin-top:2px">
    <p>This Privacy Policy governs the manner in which Beeline Creative Inc. (DBA Farallon Co.) collects, uses, maintains and discloses information collected from users (each, a "User") of the http://farallon.co website ("Site"). This privacy policy applies to the Site and all products and services offered by Farallon Co.</p>
<br>
    <h6>Personal identification information</h6>
      <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, place an order, subscribe to the newsletter, respond to a survey, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, credit card information. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
<br>
    <h6>Non-personal identification information</h6>
      <p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>
<br>
    <h6>Web browser cookies</h6>
      <p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>
<br>
  <h6>What information do we collect?</h6>
    <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
    <br><br>
    Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.</p>
    <p>We collect information from you when you register on our site, place an order or subscribe to our newsletter. When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or credit card information. You may, however, visit our site anonymously.</p>
    <br>
  <h6>Any of the information we collect from you may be used in one of the following ways:</h6>
  <ul>
    <li><h6>To personalize your experience</li>
      <p>Your information helps us to better respond to your individual needs</p>
    <li><h6>To improve our website</li>
      <p>We continually strive to improve our website offerings based on the information and feedback we receive from you</p>
    <li><h6>To improve customer service</li>
      <p>Your information helps us to more effectively respond to your customer service requests and support needs.</p>
    <li><h6>To process transactions</li>
      <p>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</p>
    <li><h6>To administer a contest, promotion, survey or other site feature</li>
    <li><h6>To send periodic emails</li>
      <p>The email address you provide for order processing or if you sign up with us, will be used to send you information and updates pertaining to your order - you will also recieve updates on future product releases, promotions & collaborations until you decide to unsubscribe. Note: If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</p>
  </ul>
</div>
