@import 'bootstrap';
@import 'bootstrap-responsive';


/*NAVIGATION BAR HEADER*/
.navbar-inner{
    opacity:.8 !important;
    font-family: maven-pro, serif;
    font-size:12px;
    letter-spacing: 1px;
    }
.navbar-inner container{
    opacity:.8 !important;
    font-family: maven-pro, serif;
    font-size:12px;
    letter-spacing: 1px
    }
.navbar{
    opacity:.8 !important;
    font-family: maven-pro, serif;
    font-size:12px;
    letter-spacing: 1px
    }
#nav-main{
    opacity:.8 !important;
    font-family: maven-pro, serif;
    font-size:12px;
    letter-spacing: 1px
    }
#banner{
    opacity:.8 !important;
    font-family: maven-pro, serif;
    font-size:12px;
    letter-spacing: 1px
    }​

/*#beeline_logo {
  float:left;
  position:absolute;
  left:0px;
  top:0px;
  height:50px;
}*/

/*HOME PAGE - CAROUSEL*/
.carousel-inner > .active {
left: 0;
background-color:#323232;
}
/*HOME PAGE - PRODUCT TILES LAYOUT*/
.motto {
  text-align:center;
  font-size:1.25em;
  line-height: 75%;
  font-family: questrial, serif;
  margin-top:10px;
  color: #505050;
}

#btnStart {
  background-color:#C0362C;
  font-family: maven-pro, serif;
  border-radius:3px;
  font-size:1em;
  width:200px;
  height:40px;
  line-height: 265%;
  color: white;
  text-align: center;
  margin-top:10px;
  margin-left:40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#home-products.row-fluid {
margin-top: -18px;
}

.pagination {
  margin:0px 30px 0px 0px;
}
/* Required for jQuery Masonry */
.box {
    padding: 4px;
    float: left;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*box-shadow: 1px 1px 10px #444;*/
    width: 214px;
}

.box img {
    width: 100%;
   /* -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
}

/*SHOW / PRODUCT DETAILS*/
div.celery-progress {
  margin-top:10px;
  width:100%;
}

div.celery-progress-tooltip {
  color: black;
  font-style: italic;
  width: 100%;
}

.big-green-button{
  /*dark shadow: #2d802e*/
  /*light shadow: #389e39*/
  box-shadow: 
  1px 0px 1px #2d802e, 
  0px 1px 1px #389e39,
  2px 1px 1px #2d802e,
  1px 2px 1px #389e39,
  3px 2px 1px #2d802e,
  2px 3px 1px #389e39,
  4px 3px 1px #2d802e,
  3px 4px 1px #389e39,
  5px 4px 1px #2d802e,
  4px 5px 1px #389e39,
  6px 5px 1px #2d802e;
  background-color:#3aa63b; /*Base Color*/
  font-family: maven-pro, sans-serif;
  /*border-radius:3px;*/
  border:none;
  font-size:1.50em;
  letter-spacing: 3px;
  width:100%;
  height:50px;
  line-height: 100%;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.big-green-button:hover, .big-green-button:focus{
color: white;
background: #389e39;
}

.big-green-button:active{
box-shadow:
1px 0px 1px #2d802e,
0px 1px 1px #389e39,
2px 1px 1px #2d802e,
1px 2px 1px #389e39,
3px 2px 1px #2d802e;
-webkit-transform:translate(3px, 3px);
-moz-transform:translate(3px, 3px);
-ms-transform:translate(3px, 3px);
-o-transform:translate(3px, 3px);
transform:translate(3px, 3px)
}

#price-head {
  margin-bottom:-20px;
  font-family:maven-pro,serif;
}

#vendor-quote {
  font-family: maven-pro, serif;
  font-style:italic;
}

div.span5 {
  font-size:1em;
}

.carousel-indicators{
  margin-top:50px;
  margin-right:30px;
}

.carousel-caption {
  opacity: .8;
  padding:2px !important;
}

#product_title {
margin-left:10px;
color:white;
font-family:maven-pro, serif;
font-weight: 800;
font-size:2em;
}

#brand_name {
  margin-top:-15px;
  color:white;
  font-family:questrial, serif;
  margin-left:20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
}

.brandsocial {
  width:25px;
}

#profile-title {
  font-family:maven-pro, serif;
  font-weight: 800;
  font-size:2em;
}

#location {
  margin-top:-10px;
  margin-left:20px;
  font-family:questrial, serif;
  text-transform: uppercase;
  font-size:1.15em;
}



/*SHOW / BRAND PROFILE*/
/*BRAND STORY PIC*/
#brand-profile{
  position: relative;
  width:100%;
  margin-bottom: 20px;
}
/*BRAND STORY TITLE*/
#brand-profile h3 { 
   position: absolute; 
   top: 100px; 
   letter-spacing: 2px;
   left:15px; 
   width: 100%; 
   span {
     color: white; 
     text-transform: uppercase;
     font-family: maven-pro, serif;
     letter-spacing: 1;  
     background: rgb(0, 51,102); /* fallback color */
     background: rgba(0, 51, 102, 1);
     padding: 8px; 
   }
}

#brand-profile div p{
  position: absolute; 
   top: 145px; 
   left: 25px; 
   width: 70%; 
   border-radius: 3px;
   background: rgba(255, 255, 255, 0.7);
    font: 14px Helvetica, Sans-Serif;   
     padding:12px;
     line-height: 130%;
}

/*.brand-profile p { 
   position: absolute; 
   top: 150px; 
   left: 25px; 
   width: 60%; 
   span {
     font: 14px Helvetica, Sans-Serif;   
     background: rgb(255, 255, 255); 
     background: rgba(255, 255, 255, 0.7);
     padding:1px;
   }
}*/

/*BRAND PROFILE ALT - BLOCK
/*#brand-profile { 
    font-family:questrial, serif;
    top:100px;
    position: absolute;
    color: black;
   width: 60%;
   background: rgba(255, 255, 255, 0.5);
   padding: 4px;
   border-radius: 8px;
   left:20px;
  } */



/*FOOTER*/
footer {
  position:relative;
 /* clear: both;
  bottom:0;
  padding:5px;
  width: 100%;
  background-color: #323232;
  opacity:.8;
  a {
    font-size:12px;
    letter-spacing: 1px;
    font-family: maven-pro, serif;
    text-decoration: none;
    color:white;
  }*/
}


