@import 'bootstrap';
@import 'bootstrap-responsive';


/*TRANSPARENCIES*/
.navbar-inner{
    opacity:.8 !important;
    }
.navbar-inner container{
    opacity:.8 !important;
    }
.navbar{
    opacity:.8 !important;
    }
#nav-main{
    opacity:.8 !important;
    }
#banner{
    opacity:.8 !important;
    }​

/*#beeline_logo {
  float:left;
  position:absolute;
  left:0px;
  top:0px;
  height:50px;
}*/

/*
#MyCarousel {
  top:0px;
  left:0px;
  width:100%;
}*/

.motto {
  text-align:right;
  font-size:1.35em;
  line-height: 150%;
  font-family: istok-web, serif;
  margin-top:10px;
}

#btnStart {
  background-color:#C0362C;
  border-radius:2px;
  font-size:.75em;
  width:175px;
  height:30px;
  line-height: 265%;
  border: 1px solid $grayLight;
  float:right;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-left:-100px;
}

div.celery-progress {
  margin-top:10px;
  width:400px;
}



div.celery-progress-tooltip {
  color: black;
  font-style: italic;
  width: 100%;
}

div.span5 {
  font-size:1em;
}

.celery_btn.button {
color:blue;
}

#product_title {
  margin-top:10px;
  color:#505050;
  font-style:italic;
  font-size:25px;
  font-family:Verdana;
}

.foot_social {
  text-align: right;
}

.footer {
  width:100%;
    padding: 10px;
	margin-bottom: 40px;
    width: 103%;
    margin-left:-10px;
    margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
    text-decoration: none;
	}

}

/* Required for jQuery Masonry */

.box {
    /*margin: 5px;*/
    /*padding: 1px;*/
    font-size: 13px;
    line-height: 1.4em;
    float: left;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*box-shadow: 1px 1px 10px #444;*/
    width: 214px;
}

.box img {
    width: 100%;
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
}

