<div class="<%= size %>">
  	<%= link_to image_tag(brand.logo), brand_path(brand),class: 'thumbnail' %>
  	<!-- <h6 class="centerize" style="font-size:.6em !important;pointer-events:none;font-weight:600;letter-spacing:.05em !important;margin-top:-18px;padding-bottom:10px"><%#= brand.name%></h6> -->
</div>
