<% if product.primary_image and product.active == true and product.archived != true %>
  <div class="<%= size %>">
    <%= link_to image_tag(product.primary_image), product_path(product),class: 'thumbnail' %>
  </div>
<% end %>


<!-- and product.active=true and product.brand.active=true -->