<div class="col-md-offset-1 col-md-9 white-background" >
	<h1>Editing product</h1>
	<h6>
		<%= link_to 'Back', :back %> //
		<%= link_to 'Show', @product %> //
		<%= link_to 'All', products_path %>
	</h6>


	<%= render 'form' %>

</div>