<%= render 'pages/home' %>

<div class="row-fluid">
	<div class ="span1" style="width:1% !important;"></div>
		<div class="span3 well" id="home-products" >
			<table>
					<p id="motto" class="subh-font">THE NEWEST PRODUCTS</p>
					<p id="motto" class="subh-font">FROM THE BEST BRANDS</p>
					<p id="motto" class="subh-font">BACKED BY YOU, THE FANS</p>
				<tr>
					<hr style="margin:10px;">
				</tr>
				<tr>
					
					<a href="/products/12" <div class="flatbtn centerize" id="btnStart">START EXPLORING <span class="icon-chevron-right icon-white"></span> <!-- <small>►</small> --></div></a>

				</tr>
				<tr>
					<hr style="margin:10px;">
				</tr>
					<span class="subh-font centerize">SEE MORE <span class="icon-search"></span><!-- <span style="font-size:.5em; padding-bottom:2px;">▼</span> --></span>
					<div id="homepagin"class="pagination pagination-mini pagination-right centerize">
						<%= paginate @products %>
					</div>
				</tr>
			</table>
		</div>
		<div class ="span1" style="width:1% !important;"></div>
		<div class ="span8">
			<div id="products">
			  <%= render @products %>
			  	<script type="text/javascript">
			  	slugs = "<%= @products.map { |product| product.ecomm_url }.join(",").html_safe %>"
			  	</script> 
			</div>
			<!-- <a style="margin-left:-20px; height:20px;" href="http://beelineco.tumblr.com" target="blank"><img src="https://s3.amazonaws.com/beelineco/blog_panel.jpg"/></a> -->
		</div>
</div>
