<head>

</head>

<%= render 'pages/home' %>

<div class="row-fluid" id="home-products">
		<div class="span3">
			<table>
					<p class="motto">THE NEWEST PRODUCTS</p>
					<p class="motto">FROM THE BEST BRANDS</p>
					<p class="motto">BACKED BY YOU, THE FANS</p>
				
				<tr>
					<div class="flatbtn" id="btnStart">START EXPLORING <small>►</small></div>
				</tr>
				<tr>
					<hr style="margin:6px; width:300px;">
				</tr>
					<div class="pagination pagination-mini pagination-right">
						<%= will_paginate @products %>
					</div>
				</tr>
			</table>
		</div>
		<div class ="span9">
			<div class="centerize" id="products">
			  	<%= render @products %>
			</div>
		</div>
</div>

