<head>

</head>

<%= render 'pages/home' %>

<div class="row-fluid" id="home-products">
		<div class="span3 well" style="margin-bottom:0px;">
			<table>
					<p id="motto">THE NEWEST PRODUCTS</p>
					<p id="motto">FROM THE BEST BRANDS</p>
					<p id="motto">BACKED BY YOU, THE FANS</p>
				<tr>
					<hr style="margin:10px;">
				</tr>
				<tr>
					<div class="flatbtn centerize" id="btnStart">START EXPLORING <small>►</small></div>
				</tr>
				<tr>
					<hr style="margin:10px;">
				</tr>
					<div id="homepagin"class="pagination pagination-mini pagination-right centerize">
						<%= will_paginate @products %>
					</div>
				</tr>
			</table>
		</div>
		<div style="margin-left:5px !important;" class ="span9">
			<div id="products">
			  	<%= render @products %>
			</div>
			<a href="http://beelineco.tumblr.com" target="blank"><img src="https://s3.amazonaws.com/beelineco/blog_panel.jpg"/></a>
		</div>
</div>
