<div class="modal fade" id="landing-joinus-modal" tabindex="-1" role="dialog" aria-labelledby="Join Us." aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title">Be there when we launch...</h3>
      </div>
      <div class="modal-body">
        <p>We've been developing this site for the better part of 2013 & can't wait to show you what we've been working on.</p>
        <hr>
        <p>But as a preface: 
        <br>
        <br>
        Quality, up-and-coming brands are hard to discover, but once found - you stay loyal to them. Why?
        <br>
        <br>
        They listen. Stand behind their product. They iterate & build. They understand their trade. 
        <br>
        <br>
        Farallon Company gives a direct channel, for both brands and customers, to engage & communicate at the ground level of product development.</p>
        <br>
        <hr class="black-hr">
        <h5 style="text-align:center;">Join the company.</h5>
        <hr class="black-hr">

        <%= form_for @user, :as => :user,
                            :url => api_registrations_path,
                            :format => :json,
                            :remote => true,
                            :html => { :class => "form-horizontal", role: "form" } do |f| %>

          <div class="form-group">
            <div class="row col-sm-offset-2 col-sm-10" >
              <label class="control-label" for="inputSuccess"></label>
              <label class="control-label" for="inputError"></label>
            </div>
          </div>

          <div class="form-group forms" id="new-user-email">
            <div class="col-lg-11">
              <%= f.email_field :email, placeholder: "Enter your email address", class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-11">
              <%= f.submit "Submit", class: "btn btn-primary pull-right" %>
            </div>
          </div>

        <% end %>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->