<div id="footer2" style="font-size:.75em;letter-spacing:1px;font-family:m-1c,serif">

    <br class="visible-xs visible-sm" style="margin-bottom:20px">
    <a href="/about" class="footer-text" style="text-decoration:none;color:black;" >about us</a>
    <br>
    <a href="/all_brands" class="footer-text" style="text-decoration:none;color:black;">the brand family</a>
    <br>
    <a data-toggle="modal" class="footer-text" href="#contact-modal" style="text-decoration:none;color:black;">contact</a>
    <br>
    <a href="#FAQModal" class="footer-text" data-toggle="modal" style="text-decoration:none;color:black;">faq</a>
    <br>
    <a href="/jobs" class="footer-text" style="text-decoration:none;color:black;">jobs</a>
    <br>
    <a href="/terms" class="footer-text" style="text-decoration:none;color:black;">terms &amp; privacy</a>
    <br>
    <a class="footer-text" id="social-click" style="text-decoration:none;color:black;cursor:pointer">social</a>
    <br>
    <span id="social-toggle" style="font-size:.95em;letter-spacing:1px;z-index:90!important;display:none" >
      <a id="footer-instagram" href="http://instagram.com/farallonco"target="blank" style="text-decoration:none;color:black;z-index:100;">&nbsp;&nbsp;&nbsp;instagram</a>
      <br>
      <a id="footer-svpply" href="https://svpply.com/farallonco"target="blank" style="text-decoration:none;color:black;">&nbsp;&nbsp;&nbsp;svpply</a>
      <br> 
      <a id="footer-tumblr" href="http://farallonco.tumblr.com"target="blank" style="text-decoration:none;color:black;">&nbsp;&nbsp;&nbsp;tumblr</a>
      <br>
      <a id="footer-facebook" href="http://facebook.com/farallonco"target="blank" style="text-decoration:none;color:black;">&nbsp;&nbsp;&nbsp;facebook</a>
      <br>
      <a id="footer-twitter" href="http://twitter.com/farallonco"target="blank" style="text-decoration:none;color:black;">&nbsp;&nbsp;&nbsp;twitter</a>
      <br>
      <br>
    </span>
    <br>
    <br>
    <span style="pointer-events:none;font-size:.75em;">farallon co.&nbsp;&copy;2014</span>
    <br>
    <br>
    <br>
    <span class="creds centerize" style="color:#505050;margin-bottom:0;font-size:1em"> Proudly <%= image_tag "CA-black.png", style: "width:25px;opacity:.5;"%>&nbsp;made</span> 
    <br>
</div>