<footer>
  <div class="row" style="background-color:rgba(0,0,0,.3);padding-top:10px;padding-bottom:15px;">
    <div class="col-md-12" style="padding-left:30px">
      <span style="pointer-events:none;font-size:.75em;">Farallon Co.&nbsp;&copy;2013</span>
        <br>
      <div style="font-size:.55em;">
        <a href="/about" >ABOUT US</a><span style="pointer-events:none;">&nbsp;/&nbsp;</span>
        <a href="/faq" >FAQ</a><span style="pointer-events:none;">&nbsp;/&nbsp;</span>
        <a data-toggle="modal" href="#contact-modal" >SUPPORT</a><span style="pointer-events:none;">&nbsp;/&nbsp;</span>
        <a href="/jobs">JOBS</a><span style="pointer-events:none;">&nbsp;/&nbsp;</span>
        <a href="/terms">TERMS &amp; PRIVACY</a>
      </div>

      <br class="visible-xs visible-sm">
      <br class="visible-xs visible-sm">

      <span id="footer-social">
        <a style="color:white;" id="footer-instagram" href="http://instagram.com/farallonco"target="blank">INSTAGRAM</a>&nbsp;&nbsp;&nbsp;
        <a style="color:white;" id="footer-tumblr" href="http://farallonco.tumblr.com"target="blank">TUMBLR</a>&nbsp;&nbsp;&nbsp;
        <a style="color:white;" id="footer-facebook" href="http://facebook.com/farallonco"target="blank">FACEBOOK</a>&nbsp;&nbsp;&nbsp;
        <a style="color:white;" id="footer-twitter" href="http://twitter.com/farallonco"target="blank">TWITTER</a>
      </span>
    </div>
  </div>
</footer>
<span id="background-credit">
  <a style="color:white;"href="http://jaredchambers.com"target="blank">Background by Jared Chambers</a>
</span>