<footer>
  <span style="pointer-events:none;font-size:.75em;">Farallon Co.&nbsp;&copy;2013</span>
    <br>
  <div style="font-size:.55em;">
    <a href="/about" >ABOUT US</a><span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;</span>
    <a href="/faq" >FAQ</a><span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;</span>
    <a data-toggle="modal" href="#contact-modal" >SUPPORT</a><span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;</span>
    <a href="/jobs">JOBS</a><span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;</span>
    <a href="/terms">TERMS &amp; PRIVACY</a>
  </div>

  <br class="visible-xs visible-sm" style="margin-bottom:20px">
  <br class="visible-xs visible-sm">

  <div class="footer-social centerize">
    <a style="color:white;" id="footer-instagram" href="http://instagram.com/farallonco"target="blank">INSTAGRAM</a><span style="pointer-events:none;">&nbsp;&nbsp;&nbsp;</span>
    <a style="color:white;" id="footer-svpply" href="https://svpply.com/farallonco"target="blank">SVPPLY</a><span style="pointer-events:none;">&nbsp;&nbsp;&nbsp;</span>
    <a style="color:white;" id="footer-tumblr" href="http://farallonco.tumblr.com"target="blank">TUMBLR</a><span style="pointer-events:none;">&nbsp;&nbsp;&nbsp;</span>
    <br class="visible-xs visible-sm">
    <br class="visible-xs visible-sm">
    <a style="color:white;" id="footer-facebook" href="http://facebook.com/farallonco"target="blank">FACEBOOK</a><span style="pointer-events:none;">&nbsp;&nbsp;&nbsp;</span>
    <a style="color:white;" id="footer-twitter" href="http://twitter.com/farallonco"target="blank">TWITTER</a>
  </div>
</footer>
<span id="background-credit">
  <a style="color:white;"href="http://jaredchambers.com"target="blank">Background by Jared Chambers</a>
</span>