<div class="navbar navbar-inverse">
  <div class="navbar-inner" style="border-radius:0 !important;margin-bottom:-50px !important;">
    <div class="container">
			<ul class="nav pull-right" style="padding-top:10px; color:lightgray; pointer-events: none;">
				<li>&copy; 2013 Beeline Co.</li>
			</ul>
      <ul class="nav pull-left">
        <li><%= link_to 'ABOUT',  about_path %></li>
        <li><%= link_to 'LEGAL',  legal_path %></li>
				<li><%= link_to 'CONTACT',  contact_path %></li>
      </ul>
    </div>
  </div>
</div>
