<h5 style="position:absolute;color:white;font-size:.6em;padding-bottom:10px;padding-left:2px;opacity:.7"><a style="color:white;"href="http://jaredchambers.com"target="blank">Background by Jared Chambers</a></h5>
<footer>
  <div class="centerize">
    <span style="pointer-events:none;">&copy; 2013 Farallon Co.&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/about">ABOUT US</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/faq">FAQ</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/terms">TERMS</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/privacy">PRIVACY</a>
    
  </div>
</footer>