<footer>
  <div class="copy text-center">
    <span style="pointer-events:none;">&copy; 2013 Farallon Co.&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/about">ABOUT US</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/faq">FAQ</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/terms">TERMS</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/privacy">PRIVACY</a>
    
  </div>
</footer>

<!-- FAQ Modal -->
  <div  class="modal fade" id="FAQModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #12162a">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white;">&times;</button>
          <%= image_tag("FarallonCo-LongForm-T.png", width: "200") %> 
          <h5 class="modal-title" style="color:white;">Frequently Asked Questions</h5>
        </div>
        <div class="modal-body">
          <h3 style="margin-top:-15px;">What is going on here?</h3>
          <hr style="margin-top:-5px;">
       
                <p>In short: We partner with the best brands in the land, then create campaigns for items they want to test -- you 'back' the items you're interested in. 
                <br><br>
                Once the number of items backed reaches the campaign goal, the item is successfully funded and the brand starts production. 
                <br><br>
                We ship to you when its ready to go.</p>
          <hr style="margin-top:-5px;">

          <h5>How can I support these brands/products?</h5>
          <ol>
            <li><h3>Back it:</h3> A commitment to financially back the production of this item when enough people have shown interest. Your card only gets charged after a product hits the goal of a number of backers. <hr style="margin-bottom:5px;">All backers recieve <i>Free Priority Shipping</i> after their goods are ready.<hr style="margin-top:5px;"></li>
            <li><h3>Share it:</h3> Broadcast out to people who you think would appreciate this brand or product. Products only get made with enough support, so spread the good word!</li>
            <li><h3>Preorder:</h3>After a product reaches its funding goal, you are still able to preorder it for the remainder of its time on the site. <hr style="margin-bottom:5px;">No free shipping - early bird gets the worm!<hr style="margin-top:5px;"></li>
          </ol>
          <br>

          <h5>When does my card get charged?</h5>
              <hr style="margin-top:-5px;">
              <p>When you hit “Back It”, we will collect your shipping and billing information - but will only validate your card, not charge it. When the item reaches its funding goal, your card will be securely charged. <br>**If an item expires without being funded, you will not be charged.</p>
          <br>

              <h5>Is my billing information safe?</h5>
              <hr style="margin-top:-5px;">
              <p>Of course. All payments are processed using 256-bit SSL encryption and our ecommerce platform is built on the premier payments platform, <a href="https://www.stripe.com/" target="blank">Stripe</a>. Stripe is certified to <a href="http://www.visa.com/splisting/searchGrsp.do?companyNameCriteria=stripe" target="blank">PCI Service Provider Level 1</a>. This is the most stringent level of certification available.</p>
          <br>
              <h5 class="subh-font">Can I change my order or cancel it?</h5>
              <hr style="margin-top:-5px;">
              <p>If a campaign hasn't been funded & shipped yet - you can change item options, shipping address, or cancel your order by following the "Click here to manage your order." link in your order email. If a product has been funded or shipped, you will need to get in <a href="/contact">touch with us directly.</a></p>
          <br>
          <h5>When will my items be shipped?</h5>
          <hr style="margin-top:-5px;">
          <p>The expected shipping date is listed on each item’s product page.</p>
          <br>
              <h5>Can an item be funded more than 100%?</h4>
              <hr style="margin-top:-5px;">
              <p>Yes, this is what we call a 'preorder'. You won't recieve free shipping, but is still the same exclusive item.</p>
          <br>

          <h5>Can I exchange or return an item after I receive it?</h5>
          <hr style="margin-top:-5px;">
          <p>Due to the nature of this type of funding model, we will only accept returns if the product is deemed defective. We will make it right regardless. </p>

          <br>


          <h5>Who are the brands you feature? Why should I trust them?</h5>
          <hr style="margin-top:-5px;">
          <p>We built relationships with top-notch brands from all over the globe and will never feature a campaign that we wouldn't back ourselves. Most of the brands we will feature build their product in the U.S.A., but will feature any brand that is built with integrity - regardless of its origin.</p>
          <p>Unlike traditional crowdfunding models, we only feature an established brand's products - which inherently takes alot of the risk out of backing a campaign. This is because established brands know their production capabilities and understand how to run a successful business.</p>
          <br>

        </div>
        <div class="modal-footer centerize">
          <button class="flatbtn" id="FAQbtn-close" style="text-decoration: none;" data-dismiss="modal" aria-hidden="true">All good?</button>
              <a href="mailto:pops@farallon.co" style="text-decoration: none;"><button class="flatbtn" id="FAQbtn" >More Questions? Email us.</button></a>
        </div>
        </div>
      </div>
  </div>