
<footer>
  <div class="centerize" style="font-size:.75em;">
    <span style="pointer-events:none;">&copy; 2013 Farallon Co.&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <br>
    <a href="/about" >ABOUT US</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>


    <a href="/faq" >FAQ</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/jobs">JOBS</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/terms" >TERMS</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/privacy" >PRIVACY</a>



  </div>
    <h5 id="footer-credit"><a style="color:white;"href="http://jaredchambers.com"target="blank">Background by Jared Chambers</a></h5>
    
</footer>

<!-- JoinUs Modal -->
 <!--  <div class="modal fade" id="joinus-modal" tabindex="-1" role="dialog" aria-labelledby="Join Us." aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="text" class="form-control">
        </div>
        <br>
           <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="text" class="form-control">
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div> -->

<!-- SignIn Modal -->
  <!--   <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="Sign In." aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" style="margin-bottom:-20px">
            <div class="input-group">
              <span class="input-group-addon">Email</span>
              <input type="text" class="form-control">
          </div>
          <br>
             <div class="input-group">
              <span class="input-group-addon">Password</span>
              <input type="text" class="form-control">
          </div>
          <br>
          <div class="checkbox">
            <label>
                <input type="checkbox"> Remember me?
            </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Sign In</button>
          </div>
        
        </div>
      </div>
    </div> -->