<div class="footer">
  <table>
  	<tr>
  		<td>
		  <small>
		    <%= link_to 'About',  about_path %>
		  </small>
	  	</td>
	  	<td>
	  		|
	  	</td>
	  	<td>
		  <small>
		    <%= link_to 'Contact',  about_path %>
		  </small>
	  	</td>
	  	<td>
	  		| 
	  	</td>
	  	<td>
		  <small>
		    <%= link_to 'History',  about_path %>
		  </small>
	  	</td>

	</tr>
</table>
</div>