<div class="footer">
	<table>
		<tr>
			<td id="left">
				<ul>
				  	<li>
						<%= link_to 'About',  about_path %>
					</li>
					<li>
						<%= link_to 'Contact',  "#" %>
					</li>
				</ul>
			</td>
			<!-- <td>
				<div class="social">
			  	<ul>
					<li>
						<a href="http://facebook.com/beelinerco" target="_blank"><img src="https://s3.amazonaws.com/beelineco/facebook.png" width=25px></a>
					</li>
					<li>
						<a href="http://twitter.com/beelinerco" target="_blank"><img src="https://s3.amazonaws.com/beelineco/twitter.png"width=25px></a>
					</li>
				</ul>
			</div>
			</td> -->
			
		</tr>
	</table>

</div>