
<footer>
  <div class="centerize" style="font-size:.75em;">
    <span style="pointer-events:none;">&copy; 2013 Farallon Co.&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <br>
    <a href="/about">ABOUT US</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/faq">FAQ</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/terms">TERMS</a>
      <span style="pointer-events:none;">&nbsp;&nbsp;/&nbsp;&nbsp;</span>

    <a href="/privacy">PRIVACY</a>

  </div>
    <h5 id="footer-credit"><a style="color:white;"href="http://jaredchambers.com"target="blank">Background by Jared Chambers</a></h5>
    
</footer>