<footer>
  <div class="copy text-center">
    &copy; 2013 Farallon Co.&nbsp;&nbsp;/
    &nbsp;&nbsp;<a href="#">ABOUT US</a>&nbsp;&nbsp;/
    &nbsp;&nbsp;<a href="#">FAQ</a>&nbsp;&nbsp;/
    &nbsp;&nbsp;<a href="#">POLICIES</a>&nbsp;&nbsp;/
    &nbsp;&nbsp; <a href="#"> LEGAL </a>
  </div>
</footer>