
<footer>
	<div style="position:relative; height:150px; width:100%;"></div>
	<div class="navbar navbar-inverse navbar-fixed-bottom">
		<!-- <li style="list-style:none; color:#505050; margin:0 0 -4px 10px;">&copy; 2013 Beeline Co.</li> -->
	    <div class="navbar-inner">
	        <div class="container">
 					<ul class="nav pull-right" style="padding-top:10px; color:lightgray; pointer-events: none;">
 						&copy; 2013 Beeline Co.
 					</ul>
                    <ul class="nav pull-left">
                    	<li><%= link_to 'ABOUT',  about_path %></li>
                    	<li><%= link_to 'LEGAL',  legal_path %></li>
						<li><%= link_to 'CONTACT',  contact_path %></li>
                    </ul>

                    <!-- Beeline Co. 2013&copy; -->
                </div>
	        </div>
	    </div>
	</div>
</footer>